.StudySets {
  text-align: center;
}

.StudySets{
  /* padding: 1em; */
  /* background-color: #282c34; */
  
  /* Referred to tutorial at https://www.w3schools.com/css/css_background_image.asp */
  /* Referred to tutorial at https://stackoverflow.com/questions/49003911/how-to-use-google-drive-image-inside-css-background-image-url-function */
  background-image: url("http://drive.google.com/uc?export=view&id=1sbS-C4UekriYtKrplux3yPr8OMP-L_Yp");
  /* Referred to Youtube Video at the timestamp around https://youtu.be/zHZRFwWQt2w?t=937 */
  background-size: cover;
  /* Referred to tutorial at https://www.w3schools.com/cssref/pr_background-attachment.php; sample code at https://www.w3schools.com/cssref/tryit.php?filename=trycss_background-attachment */
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* Referred to tutorial at https://www.w3schools.com/html/html_images_background.asp */
  /* background-size: 100% 100%; */

  /* min-height: 100vh; */
  /* height: fit-content; */
  align-items: center;
  justify-content: center;
}

.StudySets-header {
  display: flex;
  flex-direction: column;
  /* font-size: calc(10px + 2vmin); */
  /* color: white; */
  /* margin-top: 3rem; */
  margin: 3rem;
}


/* Referred to StackOverflow Answer #1 at https://stackoverflow.com/questions/10668056/in-css-how-do-you-change-font-size-of-h1-and-h2 */
/* Do not forget to add classname before h1 tag */
.StudySets-header h1 {
  font-weight: 1000;
  color: lightseagreen /* darkblue */ /* #fff */;
  font-size: 2rem;

  /* Referred to StackOverflow Answer #1 at https://stackoverflow.com/questions/4919076/outline-effect-to-text */
  text-shadow: -1px -1px 0 #00ffff, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}


/* Referred to StackOverflow 1st Answer at https://stackoverflow.com/questions/13091433/center-child-divs-inside-parent-div */
.deleteButton-back {
  text-align: center;
}


.term {
  text-align: left;
  font-weight: 700;
  font-size: 1.2rem;
  color: grey;
  /* margin: 1rem; */
  margin-bottom: 3rem/* 4.5rem */;
}

.definition {
  text-align: left;
  font-weight: 700;
  font-size: 1.2rem;
  color: grey;
  /* margin: 1rem; */
  margin-bottom: 1rem;
}


/* Referred to StackOverflow 1st Answer at https://stackoverflow.com/questions/13091433/center-child-divs-inside-parent-div */
.detailedView-back {
  text-align: center;
}

.showDetailsButton {
  background-color: hsl(200, 100%, 50%);
  color: white;
  padding: .5em 1em;
  border-radius: .3em;
  border: none;
  cursor: pointer;
  margin: .5em; /* added */
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.showDetailsButton:hover {
  background-color: hsl(200, 100%, 40%);
}

.cardID {
  /* margin-left: -1rem; */
  margin-top: 0.8rem;
  margin-bottom: 1.5rem;
  text-align: left;
  color: grey;
}


/* Referred to StackOverflow Answer #1 and #2 at https://stackoverflow.com/questions/5468766/can-i-apply-a-css-style-to-an-element-name */
input[name="termDisplay"] {
  background-color: lightblue;
  width: 18rem;
  height: 3rem;
  /* margin: 0.5rem; */
  margin-top: 0.5rem;
  color: darkblue;
  font-size: medium;
  font-weight: 700;
}

input[name="definitionDisplay"] {
  background-color: antiquewhite;
  width: 18rem;
  height: 5rem;
  /* margin: 0.5rem; */
  margin-top: 0.5rem;
  color: saddlebrown;
  font-size: medium;
  font-weight: 700;
}


/* Referred to StackOverflow Answer #1 at https://stackoverflow.com/questions/61938284/how-to-change-color-of-text-based-on-text-value-by-using-css */
/* input[value=""] {
  color:red;
  background-color: lightgrey;
} */



/* Adapted from https://github.com/WebDevSimplified/React-Flashcard-App/blob/master/src/App.css */

/* body {
  background-color: #C8D0D2;
  margin: 0;
} */

.studysets_container {
  max-width: 1300px; /* change how many cards displayed per row; with grid setting ...minmax(200px, 1fr)... -- 900px: 4 cards/row ; 1100px: 5 cards/row ; 1300px: 6 cards/row */
  margin: 1rem 2rem;
  min-height: 100vh;
}

.InputFormPanel {
  margin-top: 1rem;
  margin-bottom: 3rem;

  /* background-color: white; */

  /* Referred to StackOverflow Answer #1 at https://stackoverflow.com/questions/23484871/css-creating-opacity-gradient */
  /* background: linear-gradient(to bottom,  rgba(255, 255, 255, 1) 0%, rgba(233, 233, 233, 0) 100%); */ /* W3C */

  /* Referred to StackOverflow Answer #2 at https://stackoverflow.com/questions/28409395/css-linear-gradient-transparency-on-both-side-of-image */
  background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0));
  /* Referred to Tutorial about CSS Opacity at https://developer.mozilla.org/en-US/docs/Web/CSS/opacity#description */

  border-radius: 1rem;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, .3);

  width: fit-content;
  
  /* Referred to Tutorial "Center an Image " at https://www.w3schools.com/css/css_align.asp */
  /* display: block;
  margin-left: auto;
  margin-right: auto; */
  

  /* Referred to Tutorial "Left and Right Align - Using position" at https://www.w3schools.com/css/css_align.asp */
  /* position: absolute; */
  /* right: 0px; */
  width: 300px;
  border: 1px solid grey;
  padding: 10px;

  /* Referred to StackOverflow Answer #1 at "Div position fixed on the top of web page" https://stackoverflow.com/questions/8935704/div-position-fixed-on-the-top-of-web-page */
  /* position: fixed; */


  /* Referred to Tutorial at https://www.w3.org/Style/Examples/007/center.en.html */
  margin-right: auto /* 2.5rem */;
  margin-left: auto /* 2.5rem */;
  margin-top: 5rem;
}

  /* Referred to Tutorial at https://www.w3schools.com/howto/howto_css_blurred_background.asp */
  /* filter: blur(8px);
  -webkit-filter: blur(8px); */

.InputFormPanel h2 {
  font-weight: bold;
  color:darkblue /* #fff */;
  font-size: 1.5rem;
}


.form-group {
  display: flex;
  flex-direction: column;
  margin: .5rem;
}

.form-group > label {
  color: darkblue /* lightgray */ /* #777 */;
  font-size: 1.25rem; /* font-size: .75rem; */
  font-weight: 600;
  margin-bottom: .25rem;
}

.btn {
  background-color: hsl(200, 100%, 50%); /* TODO: check why this is not working */
  font-weight: 1000;
  color: darkblue /* white */;
  padding: .5em 1em;
  border-radius: .3em;
  border: none;
  cursor: pointer;
  margin: .5em; /* added */
}

.btn:hover {
  background-color: hsl(200, 100%, 40%);
  font-weight: normal;
  color: white;
}

.card-grid {
  display: grid; /* TODO: check why this is not working */
  align-items: center;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 5rem;
  width: 100%;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: .25rem;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, .3);
  background-color: white;
  transform-style: preserve-3d;
  transition: 150ms;
  cursor: pointer;
  transform: perspective(1000px) rotateY(var(--rotate-y, 0)) translateY(var(--translate-y, 0));
  height: max-content; /* added, no obvious effect? */
}

.card:hover {
  --translate-y: -2px;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, .5);
}

.card.flip {
  --rotate-y: 180deg;
  /* justify-content: right; */
  padding-right: 1.5rem;
}

.card.flip .front {
  opacity: 0; /* added so that in Safari, text on the front side will disappear when card is flipped to the back side */
  /* Note: image does not show up in Safari (image shows up in Firefox) when card is flipped to the back side */
}

.card .front {
  /* left: 0; */ /* Removed */
  transform: rotateY(0deg); /* added so that in Firefox, text on the front side will disappear when card is flipped to the back side */
}

.card .front,
.card .back {
  position: absolute;
  padding: 1rem;
  backface-visibility: hidden;
}

.card .back {
  transform: rotateY(180deg);
}




/* For splitting the webpage into left and right sections (each with scrollbar), referred to StackOverflow Answer #1 at https://stackoverflow.com/questions/71364923/html-split-page-vertically-in-two-halves-and-allow-individual-scrolling */

.StudySetsBody {
  /* display: flex; */ /* prevents weird whitespace issues */
  margin: 0; /* makes the website take up the whole window */
}

.StudySetsSidePanelSection {
  display: inline-block; /* inline: allows multiple side by side. block: allows for more complex styling */
  width: 30%; /* make side panel section have a width of 30% of the window */
  height: 100vh; /* make the sections take up 100% of the vertical height of the window */
  overflow-y: auto; /* if the content of a section does not fit, the section will be scrollable vertically (on the y axis) */
  /* the following css is irrelevant styling */
  /* font-size: 20vmin; */
  word-wrap: break-word;
}

.StudySetsMainSection {
  align-items: start;
  display: inline-block; /* inline: allows multiple side by side. block: allows for more complex styling */
  width: 70%; /* make main section have a width of 70% of the window */
  height: 100vh; /* make the sections take up 100% of the vertical height of the window */
  overflow-y: auto; /* if the content of a section does not fit, the section will be scrollable vertically (on the y axis) */
  /* the following css is irrelevant styling */
  /* font-size: 20vmin; */
  word-wrap: break-word;
}

/* section:nth-child(1) {
  background-color: yellow;
}
section:nth-child(2) {
  background-color: beige;
} */


.FlashcardsPractice {
  margin: 1.5rem;

  /* Referred to Tutorial at https://www.w3.org/Style/Examples/007/center.en.html */
  margin-left: auto;
  margin-right: auto;

  /* Referred to Tutorial at https://developer.mozilla.org/en-US/docs/Learn/CSS/Building_blocks/Values_and_units */
  width: 20rem;

  font-size: x-large/* larger */;
  font-weight: 700;

  /* Referred to Tutorial at https://www.w3schools.com/cssref/css_websafe_fonts.php ; Code Demo at https://www.w3schools.com/cssref/tryit.php?filename=trycss_font_brushscriptmt */
  font-family: 'Brush Script MT', cursive;

  color: darkblue;
  background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0));
}

.FlashcardsPractice:hover {
  background: linear-gradient(to right, rgba(173, 216, 230, 0.0), rgba(173, 216, 230, 0.8), rgba(173, 216, 230, 1), rgba(173, 216, 230, 0.8), rgba(173, 216, 230, 0.0));
}